body {
    background-color: rgb(159 189 158 / 63%);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.container{
    max-width: 800px;   /* max-width och inte width för att anpassa även för telefoner */
    margin: 0 auto;
    justify-content: center;
}

header {
    background: lightpink;
}

.navigation {
    
}

.nav_list {
    margin: 0;
    padding: 0; 
    list-style: none;
    display: flex;
}

.list_item {
    margin-left: 70px;
}

.nav_link {

    color: #444444;
}
