body {
    background-color: rgb(159 189 158 / 63%);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.container{
    width 80%;
    margin: 0 auto;
}

header {
    background: lightpink;
}

.navigation {
    float: left;
}

.navigation .nav_list {
    margin: 0;
    padding: 0; 
    list-style: none;
    display: flex;
}

.navigation .list_item {
    margin-left: 70px;
}
